@import "./variables";
@import "./fonts";
@import "./breakpoints";

.contact {
  background-color: $section-bg-color;
  box-sizing: border-box;
  color: $text-color;
  overflow: hidden;
  padding: 3.5rem 1rem 3rem 1rem;

  @include desktop {
    padding-top: 4.5rem;
  }

  &__content-wrapper {
    @include desktop {
      max-height: 100%;
    }
  }

  &__title {
    width: 12rem;
    margin: 0 auto 2rem auto;
    font-family: "Circular Std Black";
    font-size: $subtitle-font-size-mobile;
    text-align: center;

    @include desktop {
      font-size: 3.7rem;
      width: auto;
    }
  }

  &__info-form-map-wrapper {
    @include desktop {
      display: flex;
      justify-content: center;
    }
  }

  &__img-text-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 15.875rem;
    color: $terranova-gray;
    font-size: $text-font-size-mobile;

    @include tablet {
      display: flex;
      justify-content: space-between;
      max-width: 46rem;
    }

    @include desktop {
      flex-direction: column;
      width: 20%;
      max-width: 17.187rem;
      justify-content: center;
      margin-right: 0;
      margin-left: 2rem;
    }
  }

  &__img {
    width: 100%;
    display: block;
    margin: 0 auto 3rem auto;
    max-width: 15.875rem;

    @include desktop {
      margin-bottom: 2rem;
    }
  }

  &__text-wrapper {
    @include tablet {
      width: 45%;
    }

    @include desktop {
      width: 90%;
      max-width: 15.312rem;
      margin: 0 auto 0 auto;
    }
  }

  &__company-name {
    color: $terranova-orange;

    font-family: "Circular Std Bold";

    @include tablet {
      margin-top: 0;
    }
  }

  &__office {
    font-family: "Circular Std Black";
    margin-bottom: 0.5rem;

    &-address1 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    &-address2 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    &-address3 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  &__map-form-wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      max-width: 63rem;
      width: 80%;
      margin-left: 6rem;
      margin-right: 2rem;
    }
  }

  &__map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &-label {
      color: #e73f36;
      font-size: 0.9rem;
      font-weight: 500;
      text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;

      &-container {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 8px;
        width: 7.2rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: url('/assets/images/vancouver-skyline.jpg');
      background-position: center;
      background-size: cover;
      border-radius: 450px;
      overflow: hidden;
      width: 100%;
      height: 37.75rem;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      max-width: 30rem;
      max-height: 30rem;
      height: 100%;

      &-wrapper {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        @include desktop {
          padding-bottom: 0;
          width: 37.75rem;
          height: 37.75rem;
        }
      }

      @include desktop {
        width: 97%;
        height: 97%;
        max-width: none;
        max-height: none;
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 2rem;
        // position: static;
      }
    }

    &-container {
      width: 100%;
      padding-top: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 400px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0 3rem 0;

    @include desktop {
      width: 100%;
    }

    &-wrapper {
      @include desktop {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 40%;
      }
    }

    &-required-fields {
      margin: 0 0 0.4rem 1rem;
      color: $terranova-gray;
      font-family: "Circular Std Book Italic";
      font-size: 0.9rem;
    }

    &-message-sent {
      margin-top: 0;
      color: $terranova-gray;
      margin-left: 0.5rem;
    }

    &-message-not-sent {
      color: $terranova-gray;
      margin-top: 0;
      margin-left: 0.5rem;
    }

    &-input {
      height: 3rem;
      border: none;
      border-radius: 10px;
      padding: 0 1rem 0 1rem;
      font-size: $paragraph-font-size-mobile;
      font-family: "Circular Std Book";
      color: $text-color;
      outline: none;
      margin-bottom: 1.2rem;

      &:focus {
        border: 2px solid $text-color;
      }

      @include tablet {
        font-size: $paragraph-font-size-tablet;
      }
    }

    &-textarea {
      height: 7rem;
      border: none;
      border-radius: 10px;
      padding: 1rem;
      font-size: $paragraph-font-size-mobile;
      font-family: "Circular Std Book";
      color: $text-color;
      outline: none;
      resize: none;
      margin-bottom: 1.2rem;

      @include tablet {
        font-size: $paragraph-font-size-tablet;
      }

      &:focus {
        border: 2px solid $text-color;
      }
    }

    &-btn {
      display: block;
      width: 40%;
      max-width: 9.563rem;
      height: 3rem;
      border: none;
      background-color: $terranova-orange;
      color: white;
      font-family: "Circular Std Book";
      border-radius: 10px;
      margin-left: auto;
      font-size: 0.8rem;
      letter-spacing: 1px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
