@import "./variables";
@import "./fonts";
@import "./breakpoints";

.home-about {
  max-width: 100vw;
  margin-top: 4rem;
  margin-bottom: 2.2rem;

  @include desktop {
    position: relative;
  }

  &__pic-cluster {
    display: flex;
    height: 70vh;
    max-height: 32rem;
    max-width: 40.125rem;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      height: 100vh;
      max-width: 95rem;
      max-height: 63.25rem;
      justify-content: space-between;
    }
  }

  &__pic1 {
    width: 100%;

    &-container {
      width: 50%;
      max-width: 34.687rem;
      height: auto;
      overflow: hidden;

      @include desktop {
        width: 35.687rem;
      }
    }
  }

  &__pic2 {
    width: 100%;

    &-container {
      width: 50%;
      max-width: 34.687rem;
      display: flex;
      align-items: flex-end;

      @include desktop {
        width: 35.687rem;
      }
    }
  }

  &__home-title {
    font-family: "Circular Std Black";
    font-size: 1.8rem;
    color: $terranova-orange;
    text-align: center;

    @include tablet {
      font-size: 2.1rem;
    }

    @include desktop {
      font-size: 2.5rem;
    }

    &-container {
      width: 13.5rem;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      padding-left: 1rem;
      z-index: 1;

      @include desktop {
        position: absolute;
        top: 1%;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0;
        width: 18rem;
      }
    }
  }

  &__circular-pic1-container {
    position: absolute;
    width: 16.531rem;
    max-width: 16.531rem;
    height: 16.531rem;
    max-height: 16.531rem;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;

    @include desktop {
      width: 35rem;
      max-width: 35rem;
      height: 35rem;
      max-height: 35rem;
      top: 20%;
    }
  }

  &__circular-pic1 {
    width: 75%;

    &-outer-circle {
      width: 100%;
      height: 100%;
      border: 1px solid lightgray;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 400px;
    }
  }

  // ABOUT SECTION BEGINS HERE

  &__about {
    &-container {
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 48rem;
      padding: 0 1rem 0 1rem;
      color: $text-color;
      box-sizing: border-box;

      @include desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 85%;
        padding: 0;
      }
    }

    &-circular-pic2-container {
      @include desktop {
        display: inline-block;
        background: url("/assets/images/norteamerica_full.png");
        background-position: 7% 25%;
        background-size: 1300px;
        border-radius: 300px;
        width: 29.5rem;
        min-width: 29.5rem;
        height: 29.5rem;
        min-height: 29.5rem;
        margin: auto 0 auto 0;
      }
    }

    &-text {
      @include desktop {
        width: auto;

        max-width: 50rem;
      }
    }

    &-title {
      font-family: "Circular Std Black";
      margin-bottom: 0.6rem;
      color: $terranova-orange;
      font-size: $title-font-size-mobile;
      letter-spacing: 2px;

      @include tablet {
        font-size: $title-font-size-tablet;
      }
    }
    &-subtitle {
      font-family: "Circular Std Black";
      width: 80%;
      font-size: $subtitle-font-size-mobile;
      margin-top: 0.6rem;
      margin-bottom: 0.8rem;

      @include tablet {
        font-size: $subtitle-font-size-tablet;
      }

      @include desktop {
        font-size: 3.7rem;
        width: 60%;
        min-width: 35rem;
      }
    }

    &-descr-wrapper {
      display: flex;
      width: auto;
    }

    &-descr-indent {
      width: 17%;
      max-width: 3.625rem;
      height: 0.1rem;
      margin-top: 1.7rem;
      background-color: $terranova-orange;

      @include tablet {
        margin-top: 2rem;
      }

      @include desktop {
        width: 25%;
        max-width: 6.625rem;
      }
    }

    &-paragraph-wrapper {
      font-family: "Circular Std Book";
      width: 75%;
      margin-left: 0.8rem;
      font-size: $paragraph-font-size-mobile;

      @include tablet {
        font-size: $paragraph-font-size-tablet;
      }

      @include desktop {
        max-width: 35.625rem;
      }
    }

    &-paragraph {
      line-height: 1.5rem;
      margin-bottom: 1.3rem;

      @include tablet {
        line-height: 1.9rem;
      }
    }

    &-video-wrapper {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: 193px;

        @include tablet {
          width: 87%;
          height: 392px;
        }
    }
  }
}
