@import "./variables";
@import "./fonts";

.mobile-nav {
  position: fixed;
  background-color: $footer-bg-color;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70%;
  z-index: 12;
  transition: transform 0.2s ease-out;

  &__layout-wrapper {
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
  }

  &__close-wrapper {
    align-self: flex-end;
  }

  &__links-wrapper {
    height: 65%;
    width: auto;
    margin-left: auto;
  }

  &__links-ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  &__link {
    color: $terranova-orange;
    font-family: "Circular Std Bold";
    font-size: 1.3rem;
    text-align: end;
    text-decoration: none;
  }
}

.sidebarClosed {
  transform: translateX(100%);
}

.sidebarOpen {
  transform: translateX(0);
}

.mobile-nav-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 11;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.bg-no-show {
  display: none;
}

.bg-show {
  display: block;
  opacity: 0.75;
}
