@import "./variables";
@import "./fonts";

.products {
  box-sizing: border-box;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
  color: $text-color;
  background-color: $section-bg-color;
  padding: 1rem 1rem 1rem 1rem;

  &__title {
    font-family: "Circular Std Black";
    width: 85%;
    font-size: $subtitle-font-size-mobile;
  }

  &__products-wrapper {
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__product-category-img {
    height: auto;
    width: 100%;
    transform: scale(1.2);
    transition: all 0.3s;

    &-container {
      overflow: hidden;
      width: 100%;

      &:hover img {
        transform: scale(1);
      }
    }
  }
  &__product-category-descr {
    width: 80%;
    font-family: "Circular Std Black";
    color: $terranova-gray;
    text-align: center;
    margin: 1rem auto 2rem auto;
    font-size: $paragraph-font-size-mobile;
  }

  &__slider {
    height: 100vh;
    width: 100%;
    background: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: auto auto;
    z-index: 12;

    &-slide {
      height: 40%;
      width: auto;
      border-radius: 5px;

      &-container {
        min-width: 100vw;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 4px solid green;
      }
    }

    &-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      background: white;
      margin: auto auto;
      border: 2px solid orange;
      box-sizing: border-box;

      &-wrapper {
        transform: translateX(0px);
        transition: transform ease-out 0.5s;
        display: flex;
        border: 2px solid blue;
        width: auto;
        height: 80%;
        box-sizing: border-box;

        // overflow: hidden;
      }
    }

    &-close-btn {
      background: url("/assets/icons/close-icon.png");
      margin-right: 2rem;
      height: 21px;
      width: 21px;

      &:hover {
        cursor: pointer;
      }

      &-container {
        width: 100%;
        height: 4rem;
        border: 2px solid black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

.clamshellSlider {
  &-open {
    display: block;
  }

  &-closed {
    display: none;
  }
}

.tunaSlider {
  &-open {
    display: block;
  }

  &-closed {
    display: none;
  }
}

.avocadoSlider {
  &-open {
    display: block;
  }

  &-closed {
    display: none;
  }
}

.veggiesSlider {
  &-open {
    display: block;
  }

  &-closed {
    display: none;
  }
}
