@import "./variables";
@import "./fonts";
@import "./breakpoints";

.services {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  background-color: $section-bg-color;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
  padding-top: 3rem;

  &__content-wrapper {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      max-width: 75%;
      padding-top: 0.5rem;
    }
  }

  &__text-wrapper1 {
    font-family: "Circular Std Book";
    width: 100%;
    color: $text-color;
  }

  &__title {
    font-family: "Circular Std Black";
    margin-bottom: 0.6rem;
    color: $terranova-orange;
    font-size: $title-font-size-mobile;
    letter-spacing: 2px;

    @include tablet {
      font-size: $title-font-size-tablet;
    }
  }

  &__subtitle {
    font-family: "Circular Std Black";
    width: 80%;
    font-size: $subtitle-font-size-mobile;
    margin-top: 0.6rem;
    margin-bottom: 0;

    @include tablet {
      font-size: $subtitle-font-size-tablet;
      width: 90%;
    }

    @include desktop {
      width: 60%;
      font-size: $subtitle-font-size-desktop;
    }
  }

  &__paragraph-wrapper {
    display: flex;
    width: 100%;
  }

  &__indent {
    width: 17%;
    height: 0.1rem;
    margin-top: 1.7rem;
    background-color: $terranova-orange;
  }

  &__paragraph {
    width: 100%;
    margin-left: 0.8rem;
    line-height: 1.5rem;
    font-size: $paragraph-font-size-mobile;
  }

  &__hero-img {
    width: 100%;
    margin-top: 3rem;

    @include desktop {
      position: absolute;
      width: 40%;
      margin-top: 1rem;
      display: block;
      left: 50%;
      transform: translate(-50%);
      z-index: 1;
    }
  }

  &__clusters-wrapper {
    @include desktop {
      display: flex;
      justify-content: space-between;
      margin-top: 35rem;
    }
  }

  //   CLUSTER 1

  &__cluster1-content {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      max-width: 27rem;
      z-index: 2;
    }
  }

  &__cluster1-imgs-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }

  &__cluster1-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__cluster1-img1 {
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 35%;
      z-index: 3;
    }
  }

  // SEE IF THIS CAN BE POSITIONED BETTER BY THE END
  &__cluster1-handshake-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/images/consultoria_03.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 70%;
    height: 70%;
    left: 30%;
    margin-left: -50px;
    top: 15%;
    z-index: 1;
    border-radius: 150px;
  }

  &__cluster1-img2 {
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 35%;
      z-index: 3;
    }
  }

  &__cluster1-text-wrapper {
    width: 87%;
    margin: 1rem auto 3rem auto;
    font-size: $text-font-size-mobile;
  }

  &__cluster1-subtitle {
    font-family: "Circular Std Black";
    color: $text-color;
    margin-bottom: 8rem;
    margin-top: 1.5rem;

    @include tablet {
      font-size: 1.625rem;
    }
  }

  &__cluster1-paragraph {
    color: $terranova-gray;
    margin-top: 1rem;
  }

  // CLUSTER 2

  &__cluster2-content {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      max-width: 27rem;
      z-index: 2;
    }
  }

  &__cluster2-imgs-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }

  &__cluster2-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__cluster2-img1 {
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 35%;
      z-index: 3;
    }
  }

  &__cluster2-trailer-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/images/logistica_03.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 70%;
    height: 70%;
    left: 30%;
    margin-left: -50px;
    top: 15%;
    z-index: 1;
    border-radius: 150px;
  }

  &__cluster2-img2 {
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 35%;
      z-index: 3;
    }
  }
}
