//COLOUR VARIABLES

$terranova-orange: #fc6414;
$terranova-gray: #686868;
$text-color: #404040;
$inactive-lang-color: #b6b6b6;
$section-bg-color: #f8f1de;
$footer-bg-color: #f6f6f6;

// FONT SIZE VARIABLES

$subtitle-font-size-mobile: 2rem;
$title-font-size-mobile: 1.125rem;
$paragraph-font-size-mobile: 1rem;
$text-font-size-mobile: 1.2rem;

$title-font-size-tablet: 1.5rem;
$subtitle-font-size-tablet: 2.3rem;
$paragraph-font-size-tablet: 1.1rem;

$subtitle-font-size-desktop: 2.6rem;
