@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.header {
  width: 100vw;
  height: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: white;
  z-index: 10;
  top: 0.01rem;
}

.header__logo {
  width: 12rem;
  height: auto;
}

.header__nav {
  padding: 0.5rem 0 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
}

.header__nav-links {
  display: none;
}

.header__phone {
  display: none;
}

.header__nav-hamburger {
  width: 25px;
  height: 20px;
}

.header__nav-hamburger-wrapper {
  position: absolute;
  right: 1.3rem;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.home-about {
  max-width: 100vw;
  margin-top: 4rem;
  margin-bottom: 2.2rem;
}

.home-about__pic-cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68vh;
  position: relative;
}

.home-about__pic1 {
  width: 100%;
}

.home-about__pic1-container {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.home-about__pic2 {
  width: 100%;
}

.home-about__pic2-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-about__home-title {
  font-family: "Circular Std Bold";
  font-size: 1.8rem;
  color: #fc6414;
}

.home-about__home-title-container {
  width: 13.5rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-left: 1rem;
}

.home-about__circular-pic1-container {
  position: absolute;
  width: 13.5rem;
  height: 13.5rem;
  left: 32%;
  margin-left: -50px;
  top: 22%;
}

.home-about__circular-pic1 {
  width: 75%;
}

.home-about__circular-pic1-outer-circle {
  width: 13.5rem;
  height: 13.5rem;
  border: 1px solid lightgray;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 150px;
}

.home-about__about-container {
  margin-top: 3rem;
  padding: 0 1rem 0 1rem;
  color: #404040;
}

.home-about__about-circular-pic2-container {
  display: none;
  background: url("/assets/images/norteamerica_02.png");
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 150px;
  background-position: 50% 45%;
  background-size: 230px;
  margin-left: 6.5rem;
}

.home-about__about-title {
  font-family: "Circular Std Bold";
  margin-bottom: 0.6rem;
  color: #fc6414;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.home-about__about-subtitle {
  font-family: "Circular Std Bold";
  width: 80%;
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
}

.home-about__about-descr-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-about__about-descr-indent {
  width: 17%;
  height: 0.15rem;
  margin-top: 1.7rem;
  background-color: #fc6414;
}

.home-about__about-paragraph-wrapper {
  font-family: "Circular Std Book";
  width: 75%;
  margin-left: 0.8rem;
}

.home-about__about-paragraph {
  line-height: 1.5rem;
  margin-bottom: 1.3rem;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.products {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
  color: #404040;
  background-color: #f8f1de;
  padding: 1rem 1rem 1rem 1rem;
}

.products__title {
  font-family: "Circular Std Bold";
  width: 85%;
  font-size: 2rem;
}

.products__products-wrapper {
  max-width: 100vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.products__product-category-img {
  height: auto;
  width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.products__product-category-img-container {
  overflow: hidden;
  width: 100%;
}

.products__product-category-img-container:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products__product-category-descr {
  width: 80%;
  font-family: "Circular Std Bold";
  color: #686868;
  text-align: center;
  margin: 1rem auto 2rem auto;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.services {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-color: #f8f1de;
  padding: 0 1rem 1rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services__text-wrapper1 {
  font-family: "Circular Std Book";
  width: 100%;
  color: #404040;
}

.services__title {
  font-family: "Circular Std Bold";
  margin-bottom: 0.6rem;
  color: #fc6414;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.services__subtitle {
  font-family: "Circular Std Bold";
  width: 80%;
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 0;
}

.services__paragraph-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.services__indent {
  width: 17%;
  height: 0.1rem;
  margin-top: 1.7rem;
  background-color: #fc6414;
}

.services__paragraph {
  width: 100%;
  margin-left: 0.8rem;
  line-height: 1.5rem;
}

.services__hero-img {
  width: 100%;
}

.services__cluster1-wrapper {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.services__cluster1-img1 {
  width: 100%;
}

.services__cluster1-img1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 7.5rem;
  z-index: 3;
}

.services__cluster1-handshake {
  width: 100%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.services__cluster1-handshake-bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/assets/images/consultoria_03.png");
  background-position: center;
  background-size: contain;
  overflow: hidden;
  width: 14rem;
  height: 14rem;
  left: 3.5rem;
  top: 3.2rem;
  z-index: 1;
  border-radius: 150px;
}

.services__cluster1-img2 {
  width: 100%;
}

.services__cluster1-img2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 7.5rem;
  z-index: 3;
}

body {
  max-width: 100vw;
  font-family: "Circular Std Book";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */