@import "_partials/fonts";
@import "_partials/header";
@import "_partials/variables";
@import "_partials/home-about";
@import "_partials/products";
@import "_partials/services";
@import "_partials/mobile-footer";
@import "_partials/contact";
@import "_partials/footer";
@import "_partials/mobile-nav";

body {
  max-width: 100vw;
  font-family: "Circular Std Book";
  box-sizing: border-box;
}

html {
  max-width: 100vw;
}

.noScroll {
  height: 100vh;
  overflow: hidden;
  // position: fixed;
}
