@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.header {
  width: 100vw;
  height: 3.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: white;
  z-index: 10;
  top: 0rem;
}

.header__logo {
  width: 12rem;
  height: auto;
}

.header__nav {
  padding: 0.5rem 0 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
}

.header__nav-links {
  display: none;
}

.header__phone {
  display: none;
}

.header__nav-hamburger {
  width: 25px;
  height: 20px;
}

.header__nav-hamburger:hover {
  cursor: pointer;
}

.header__nav-hamburger-wrapper {
  position: absolute;
  right: 1.3rem;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.home-about {
  max-width: 100vw;
  margin-top: 4rem;
  margin-bottom: 2.2rem;
}

.home-about__pic-cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 32rem;
  position: relative;
}

.home-about__pic1 {
  width: 100%;
}

.home-about__pic1-container {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.home-about__pic2 {
  width: 100%;
}

.home-about__pic2-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-about__home-title {
  font-family: "Circular Std Black";
  font-size: 1.8rem;
  color: #fc6414;
  text-align: center;
}

.home-about__home-title-container {
  width: 13.5rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-left: 1rem;
}

.home-about__circular-pic1-container {
  position: absolute;
  width: 70%;
  max-width: 16.531rem;
  height: 58%;
  max-height: 16.531rem;
  left: 29%;
  margin-left: -50px;
  top: 20%;
}

.home-about__circular-pic1 {
  width: 75%;
}

.home-about__circular-pic1-outer-circle {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 150px;
}

.home-about__about-container {
  margin-top: 3rem;
  padding: 0 1rem 0 1rem;
  color: #404040;
}

.home-about__about-circular-pic2-container {
  display: none;
  background: url("/assets/images/norteamerica_02.png");
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 150px;
  background-position: 50% 45%;
  background-size: 230px;
  margin-left: 6.5rem;
}

.home-about__about-title {
  font-family: "Circular Std Black";
  margin-bottom: 0.6rem;
  color: #fc6414;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.home-about__about-subtitle {
  font-family: "Circular Std Black";
  width: 80%;
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
}

.home-about__about-descr-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-about__about-descr-indent {
  width: 17%;
  height: 0.1rem;
  margin-top: 1.7rem;
  background-color: #fc6414;
}

.home-about__about-paragraph-wrapper {
  font-family: "Circular Std Book";
  width: 75%;
  margin-left: 0.8rem;
  font-size: 1rem;
}

.home-about__about-paragraph {
  line-height: 1.5rem;
  margin-bottom: 1.3rem;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.products {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
  color: #404040;
  background-color: #f8f1de;
  padding: 1rem 1rem 1rem 1rem;
}

.products__title {
  font-family: "Circular Std Black";
  width: 85%;
  font-size: 2rem;
}

.products__products-wrapper {
  max-width: 100vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.products__product-category-img {
  height: auto;
  width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.products__product-category-img-container {
  overflow: hidden;
  width: 100%;
}

.products__product-category-img-container:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products__product-category-descr {
  width: 80%;
  font-family: "Circular Std Black";
  color: #686868;
  text-align: center;
  margin: 1rem auto 2rem auto;
  font-size: 1rem;
}

.products__slider {
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background: white;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 12;
}

.products__slider-slide {
  width: 85%;
  height: auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__slider-slide-container {
  min-width: 100%;
  width: 100vw;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: -webkit-transform ease-out 0.5s;
  transition: -webkit-transform ease-out 0.5s;
  transition: transform ease-out 0.5s;
  transition: transform ease-out 0.5s, -webkit-transform ease-out 0.5s;
}

.products__slider-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.products__slider-close-btn {
  background: url("/assets/icons/close-icon.png");
  margin-right: 2rem;
  height: 21px;
  width: 21px;
  z-index: 12;
}

.products__slider-close-btn:hover {
  cursor: pointer;
}

.products__slider-close-btn-container {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__slider .products__slider-button-left, .products__slider .products__slider-button-right {
  position: absolute;
  width: 20%;
  height: 40%;
  top: 23%;
  outline: none;
}

.products__slider-button-left {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(0, 0, 0, 0.689095)), color-stop(60%, rgba(252, 252, 252, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.689095) 10%, rgba(252, 252, 252, 0) 60%);
  border: none;
  left: 0;
}

.products__slider-button-left-icon {
  background: url("/assets/icons/left-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
}

.products__slider-button-right {
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(252, 252, 252, 0)), color-stop(90%, rgba(0, 0, 0, 0.689095)));
  background: linear-gradient(90deg, rgba(252, 252, 252, 0) 40%, rgba(0, 0, 0, 0.689095) 90%);
  border: none;
  right: 0;
}

.products__slider-button-right-icon {
  background: url("/assets/icons/right-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
}

.products__slider-info-wrapper {
  height: 4rem;
}

.clamshellSlider-open {
  display: block;
}

.clamshellSlider-closed {
  display: none;
}

.tunaSlider-open {
  display: block;
}

.tunaSlider-closed {
  display: none;
}

.avocadoSlider-open {
  display: block;
}

.avocadoSlider-closed {
  display: none;
}

.veggiesSlider-open {
  display: block;
}

.veggiesSlider-closed {
  display: none;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.services {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-color: #f8f1de;
  padding: 0 1rem 1rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services__text-wrapper1 {
  font-family: "Circular Std Book";
  width: 100%;
  color: #404040;
}

.services__title {
  font-family: "Circular Std Black";
  margin-bottom: 0.6rem;
  color: #fc6414;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.services__subtitle {
  font-family: "Circular Std Black";
  width: 80%;
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 0;
}

.services__paragraph-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.services__indent {
  width: 17%;
  height: 0.1rem;
  margin-top: 1.7rem;
  background-color: #fc6414;
}

.services__paragraph {
  width: 100%;
  margin-left: 0.8rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.services__hero-img {
  width: 100%;
}

.services__cluster1-imgs-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.services__cluster1-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.services__cluster1-img1 {
  width: 100%;
}

.services__cluster1-img1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 35%;
  z-index: 3;
}

.services__cluster1-handshake {
  display: none;
  width: 100%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.services__cluster1-handshake-bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/assets/images/consultoria_03.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 70%;
  height: 70%;
  left: 30%;
  margin-left: -50px;
  top: 15%;
  z-index: 1;
  border-radius: 150px;
}

.services__cluster1-img2 {
  width: 100%;
}

.services__cluster1-img2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
  z-index: 3;
}

.services__cluster1-text-wrapper {
  width: 80%;
  margin: 1rem auto 3rem auto;
  font-size: 1.2rem;
}

.services__cluster1-subtitle {
  font-family: "Circular Std Black";
  color: #404040;
  margin-bottom: 1rem;
}

.services__cluster1-paragraph {
  color: #686868;
  margin-top: 1rem;
}

.services__cluster2-imgs-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.services__cluster2-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.services__cluster2-img1 {
  width: 100%;
}

.services__cluster2-img1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 35%;
  z-index: 3;
}

.services__cluster2-trailer-bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/assets/images/logistica_03.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 70%;
  height: 70%;
  left: 30%;
  margin-left: -50px;
  top: 15%;
  z-index: 1;
  border-radius: 150px;
}

.services__cluster2-img2 {
  width: 100%;
}

.services__cluster2-img2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
  z-index: 3;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  z-index: 4;
  height: 3.1rem;
  width: 100vw;
  max-width: 100vw;
  background-color: white;
  padding: 0 1.5rem 0 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.mobile-footer__phone-number {
  font-size: 1rem;
  color: #686868;
  font-family: "Circular Std Book";
}

.mobile-footer__right-divider {
  font-size: 1rem;
  width: 20%;
  color: #b6b6b6;
  font-family: "Circular Std Book";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: flex-end;
}

.mobile-footer__active-lang {
  color: #fc6414;
  border-bottom: 1px solid #fc6414;
  height: 1.08rem;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.contact {
  background-color: #f8f1de;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #404040;
  overflow: hidden;
  padding: 0 1rem 3rem 1rem;
}

.contact__title {
  width: 10.625rem;
  margin: 0 auto 2rem auto;
  font-family: "Circular Std Black";
  font-size: 2rem;
}

.contact__img-text-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 15.875rem;
  color: #686868;
  font-size: 1.2rem;
}

.contact__img {
  width: 100%;
  display: block;
  margin: 0 auto 3rem auto;
  max-width: 15.875rem;
}

.contact__company-name {
  color: #fc6414;
  font-family: "Circular Std Bold";
}

.contact__office {
  font-family: "Circular Std Black";
  margin-bottom: 0.5rem;
}

.contact__office-address1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.contact__office-address2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.contact__office-address3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.contact__map-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.contact__map {
  height: 104%;
  width: 104%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.contact__map-label {
  color: #e73f36;
  font-size: 0.9rem;
  font-weight: 500;
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

.contact__map-label-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  width: 7.2rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__map-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 180px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 0 3rem 0;
}

.contact__form-required-fields {
  margin: 0 0 0.4rem 1rem;
  color: #686868;
  font-family: "Circular Std Book Italic";
  font-size: 0.9rem;
}

.contact__form-message-sent {
  margin-top: 0;
  color: #686868;
  margin-left: 0.5rem;
}

.contact__form-message-not-sent {
  color: #686868;
  margin-top: 0;
  margin-left: 0.5rem;
}

.contact__form-input {
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  font-family: "Circular Std Book";
  color: #404040;
  outline: none;
  margin-bottom: 1.2rem;
}

.contact__form-input:focus {
  border: 2px solid #404040;
}

.contact__form-textarea {
  height: 7rem;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Circular Std Book";
  color: #404040;
  outline: none;
  resize: none;
  margin-bottom: 1.2rem;
}

.contact__form-textarea:focus {
  border: 2px solid #404040;
}

.contact__form-btn {
  display: block;
  width: 40%;
  max-width: 9.563rem;
  height: 3rem;
  border: none;
  background-color: #fc6414;
  color: white;
  font-family: "Circular Std Book";
  border-radius: 10px;
  margin-left: auto;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  padding: 0.5rem 1rem 3.2rem 1rem;
  height: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid lightgray;
  background-color: #f6f6f6;
}

.footer__company-wrapper {
  font-family: "Circular Std Book";
  margin: 1rem auto 2rem auto;
}

.footer__company-name {
  font-size: 0.8rem;
  color: gray;
  width: auto;
}

.footer__company-copyright {
  font-size: 0.8rem;
  color: lightgray;
  margin-right: 0.3rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.footer__social-icon-link {
  width: 6rem;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Circular Std Black";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Circular Std Black Italic";
  src: url(/assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: "Circular Std Bold";
  src: url(/assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url(/assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: "Circular Std Book";
  src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Std Book Italic";
  src: url(/assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(/assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Std Medium Italic";
  src: url(/assets/fonts/CircularStd-MediumItalic.otf);
}

.mobile-nav {
  position: fixed;
  background-color: #f6f6f6;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70%;
  z-index: 12;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.mobile-nav__layout-wrapper {
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-nav__close:hover {
  cursor: pointer;
}

.mobile-nav__close-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mobile-nav__links-wrapper {
  height: 65%;
  width: auto;
  margin-left: auto;
}

.mobile-nav__links-ul {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.mobile-nav__link {
  color: #fc6414;
  font-family: "Circular Std Bold";
  font-size: 1.3rem;
  text-align: end;
  text-decoration: none;
}

.sidebarClosed {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sidebarOpen {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 11;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.bg-no-show {
  display: none;
}

.bg-show {
  display: block;
  opacity: 0.75;
}

body {
  max-width: 100vw;
  font-family: "Circular Std Book";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  max-width: 100vw;
  scroll-behavior: smooth;
}

.noScroll {
  height: 100vh;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */